
.name-gradient {

  background-image: linear-gradient(to right, #38bdf8, #818cf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    background-image: linear-gradient(to right, #38bdf8, #818cf8); /* Sky Blue to Indigo */
  }
  25% {
    background-image: linear-gradient(to right, #f472b6, #d946ef); /* Pink to Purple */
  }
  50% {
    background-image: linear-gradient(to right, #fbbf24, #f97316); /* Amber to Orange */
  }
  75% {
    background-image: linear-gradient(to right, #34d399, #10b981); /* Emerald to Green */
  }
  100% {
    background-image: linear-gradient(to right, #38bdf8, #818cf8); /* Return to original */
  }
}
